<div id='comment_<%= comment.id %>', class="comments">
    <p>
      <strong>Автор:</strong>
      <%= comment.commenter %>
    </p>

    <p>
      <strong>Коментарий:</strong>
      <%= comment.body %>
    </p>
<% if current_user %>
  <% if comment.commenter == current_user.email || current_user.admin? %>
    <p>
      <%= link_to 'Удалить коментарий', [comment.tweet, comment],
                  method: :delete,
                  data: { confirm: 'Вы уверены?' }, remote:true %>
    </p>
  <% end -%>
<% end %>
</div>
