<table>
  <% @tweets.each do |t| %>
      <tr>
        <td class="list_description">
          <dl>
            <dt><%= t.title %></dt>
            <dd><%= truncate(strip_tags(t.text),
                             length: 230) %></dd>
          </dl>
          <p>
          <%= link_to 'Читать', tweet_path(t), :class=>"read" %>
          </p>
        </td>
      </tr>
  <% end %>
</table>