// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
table {
  border-collapse: collapse;
  padding: 1em;
}
table tr td {
  padding: 10px;
  vertical-align: top;
}

.list_description {
  width: 100%;
  padding: 1em;
  dl {
    margin: 0;
  }
  dt {
    color: #244;
    font-weight: bold;
    font-size: larger;
  }
  dd {
    margin: 0;
  }
}



.list_line_even {
  background: #e0f8f8;
}

.list_line_odd {
  background: #f8b0f8;
}
.read {
  padding: 5px 10px;
  bottom: 50px;
  right:0px;
  left:0px;
  margin:auto;
  width: 150px;
  -webkit-appearance: none;
  background: #105B63;
  outline: none;
  border: 2px solid #224444;
  color: #FFD34E;
  border-radius: 10px;
  box-shadow: 0 2px 3px rgba(0,0,0,0.5);
  cursor: pointer;
  bottom: 5px;
}